/** Table styles */
table {
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: var(--border);
}

td {
  border: none;
  padding: 1em 1em 2em 1em;
  vertical-align: top;
}

td:first-child {
  cursor: pointer;
}

td.collapse {
  background-color: var(--color-primary);
  color: var(--color-light-primary);
}

td.collapse ~ td {
  display: none;
}

td:nth-child(2), td:nth-child(4) {
  white-space: nowrap;
}

td:nth-child(2) > * {
  display: inline-block;
}

td:nth-child(2) {
  text-align: center;
}

td > * {
  white-space: initial;
}

thead {
  cursor: pointer;
}

thead td {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding-left: 2em;
}

thead.collapse + tbody {
  display: none;
}

thead h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

col.name {
  width: 200px;
}

col.example {
  width: 200px;
}
